<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372353959965-1t2e6fb7s0eddudqjvs963s8dvnp7bek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372353959965-1t2e6fb7s0eddudqjvs963s8dvnp7bek</string>
	<key>API_KEY</key>
	<string>AIzaSyCk0YKlrGXHRzBHRc-_Og6pIImCBDZjJ8I</string>
	<key>GCM_SENDER_ID</key>
	<string>372353959965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.aivo.kiemhieptinh1</string>
	<key>PROJECT_ID</key>
	<string>iostest-a9aef</string>
	<key>STORAGE_BUCKET</key>
	<string>iostest-a9aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372353959965:ios:58f7a027a413e0478a9ef4</string>
	<key>DATABASE_URL</key>
	<string>https://iostest-a9aef.firebaseio.com</string>
</dict>
</plist>