<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isCheckShowloginView</key>
	<string>true</string>
	<key>GoogleID</key>
	<string>UA-55644339-1</string>
	<key>GameID</key>
	<string>m316</string>
	<key>ClientID</key>
	<string>m316.ioswe4e2EcLwe5ADyhR</string>
	<key>SecretKey</key>
	<string>q32ByDUJqgzZD</string>
	<key>ServiceID</key>
	<string>m316.MBgXvL1mNCt00cg8s</string>
	<key>ServiceKey</key>
	<string>6e2jc9gmmrOFqxeh</string>
	<key>ProviderID</key>
	<string>2001</string>
	<key>FacebookAppID</key>
	<string>1116126192102861</string>
	<key>FacebookDisplayName</key>
	<string>Tình Kiếp Tam Sinh</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1116126192102861</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AppsFlyer_DevKey</key>
	<string>KGjX4wCxDrueiJ7mRMjn6b</string>
	<key>AppsFlyer_AppleAppID</key>
	<string>1522411723</string>
	<key>IAP_ProductID</key>
	<array>
		<string>vn.studio.tkts.thethang</string>
		<string>vn.studio.tkts.truongthanh</string>
		<string>vn.studio.tkts.donghanh</string>
		<string>vn.studio.tkts.cuonghoa</string>
		<string>vn.studio.tkts.thanduc</string>
		<string>vn.studio.tkts.thankhi</string>
		<string>vn.studio.tkts.combo</string>
		<string>vn.studio.tkts.200vang</string>
		<string>vn.studio.tkts.500vang</string>
		<string>vn.studio.tkts.1000vang</string>
		<string>vn.studio.tkts.2000vang</string>
		<string>vn.studio.tkts.5000vang</string>
		<string>vn.studio.tkts.10000vang</string>
	</array>
	<key>GosuAds_App_Key</key>
	<string>7df78ad8902c7df78ad8902c7df78ad8902c</string>
	<key>GosuAds_App_Signature</key>
	<string>7df78ad8902c7df78ad8902c7df78ad8902c</string>
	<key>fanpage</key>
	<string>https://facebook.com</string>
	<key>giftpage</key>
	<string>https://google.com</string>
	<key>eventpage</key>
	<string>https://google.com</string>
	<key>termpage</key>
	<string></string>
	<key>policypage</key>
	<string></string>
	<key>Version</key>
	<string>6.0.12</string>
	<key>sdk_language</key>
	<string>vi</string>
</dict>
</plist>
