<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>isCheckShowloginView</key>
    <string>true</string>
    <key>GoogleID</key>
    <string>UA-55644339-1</string>
    <key>GameID</key>
    <string>m356</string>
    <key>ClientID</key>
    <string>m356.1b1gitqdAEm24w09WkCPWw</string>
    <key>SecretKey</key>
    <string>VkTLFujwRp4SbAzcREMDwV</string>
    <key>ServiceID</key>
    <string>m356.YscLA3jHhmj1ykMb8ntljP</string>
    <key>ServiceKey</key>
    <string>l68E4zFc9BWaif9VTh7C61</string>
    <key>ProviderID</key>
    <string>2001</string>
    <key>FacebookAppID</key>
    <string>631608237823814</string>
    <key>FacebookClientToken</key>
    <string>376674dd4fc3b877d5a1d1c25b7991af</string>
    <key>FacebookDisplayName</key>
    <string>Digi Huyền Thoại</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb631608237823814</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fbapi20130214</string>
        <string>fbapi20130410</string>
        <string>fbapi20130702</string>
        <string>fbapi20131010</string>
        <string>fbapi20131219</string>
        <string>fbapi20140410</string>
        <string>fbapi20140116</string>
        <string>fbapi20150313</string>
        <string>fbapi20150629</string>
        <string>fbapi20160328</string>
        <string>fbauth</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>AppsFlyer_DevKey</key>
    <string>KGjX4wCxDrueiJ7mRMjn6b</string>
    <key>AppsFlyer_AppleAppID</key>
    <string>1579457775</string>
    <key>IAP_ProductID</key>
    <array>
        <string>vn.duo.m356.60kc</string>
        <string>vn.duo.m356.300kc</string>
        <string>vn.duo.m356.980kc</string>
        <string>vn.duo.m356.1980kc</string>
        <string>vn.duo.m356.3280kc</string>
        <string>vn.duo.m356.6480kc</string>
        <string>vn.duo.m356.thechiton</string>
        <string>vn.duo.m356.thethang</string>
        <string>vn.duo.m356.uudai1</string>
        <string>vn.duo.m356.uudai2</string>
        <string>vn.duo.m356.uudai3</string>
        <string>vn.duo.m356.uudai4</string>
        <string>vn.duo.m356.uudai5</string>
        <string>vn.duo.m356.uudai6</string>
        <string>vn.duo.m356.uudai7</string>
        <string>vn.duo.m356.uudai8</string>
        <string>vn.duo.m356.uudai9</string>
    </array>
    <key>GosuAds_App_Key</key>
    <string>7df78ad8902c7df78ad8902c7df78ad8902c</string>
    <key>GosuAds_App_Signature</key>
    <string>7df78ad8902c7df78ad8902c7df78ad8902c</string>
    <key>fanpage</key>
    <string>https://facebook.com</string>
    <key>giftpage</key>
    <string>https://google.com</string>
    <key>eventpage</key>
    <string>https://google.com</string>
    <key>termpage</key>
    <string></string>
    <key>policypage</key>
    <string></string>
    <key>Version</key>
    <string>6.2.0</string>
    <key>sdk_language</key>
    <string>vi</string>
</dict>
</plist>
