<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>895023939632-8dda69fee6q47cjkcmrae1pbnf9mmgas.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.895023939632-8dda69fee6q47cjkcmrae1pbnf9mmgas</string>
    <key>API_KEY</key>
    <string>AIzaSyBn5F4BVKFO4EuE1ZLSsSFvxMl5iGF26zc</string>
    <key>GCM_SENDER_ID</key>
    <string>895023939632</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>vn.gosu.cuuam</string>
    <key>PROJECT_ID</key>
    <string>ttvh-354c2</string>
    <key>STORAGE_BUCKET</key>
    <string>ttvh-354c2.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:895023939632:ios:236facbeff155949c72df5</string>
    <key>DATABASE_URL</key>
    <string>https://ttvh-354c2.firebaseio.com</string>
</dict>
</plist>
